<!-- About -->
      <div class="container-fluid" id="about">
        <div class="row">
          <div class="col-lg-4">
            <img src="./images/profile.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-8 align-self-center">
            <h2>About Me</h1>
            <p>
              I am currently a student in Osaka University. 
              Have had years of experience with coding and I'm studying Information and Communication Engineering.
              Since I wanted to showcase my projects to the rest of world, I have also started to learn web-development. Althought till now it has been just <%=months%> months, I believe my excitement for this area is more than enough to overcome any lack of experience. 
              <br/>
              You can take a look at my finished projects till now to judge for yourself!
              <br/>
              Based in Osaka, Japan.
            </p>
            
              <a role = "button" class =  "btn btn-outline-light" href="#contact">Contact me!</a>
            
            
          </div>
        </div>
      </div>