<!-- Projects -->
<div class="container-fluid" id="projects">
  <h2>Projects</h2>
  <div class="card-group">
    <!-- Blogzoid -->
    <div class="skill-card col-sm-4">
      <div class="card blogzoid">
        <div class="card-body">
          <h5 class="card-title">BLOGZOID (Blog)</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">MERN Application</li>
          <li class="list-group-item">REACT.js</li>
          <li class="list-group-item">Node.js w/ Express</li>
          <li class="list-group-item">MongoDB</li>
          <li class="list-group-item">REST API</li>
          <li class="list-group-item">REDUX</li>
          <li class="list-group-item">Authentication</li>
        </ul>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
          >
            Details
          </button>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BLOGZOID</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="media">
                  <p>
                    GO TO LIVE WEBSITE(<a
                      target="_blank"
                      href="https://blogzoid.netlify.app/"
                      >click here!</a
                    >)
                  </p>
                </div>
                <div class="modal-para">
                  <h1>Function & Usage</h1>

                  <h1>Features</h1>

                  <h1>History and Implementation</h1>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- STAT-TRACKER -->
    <div class="skill-card col-sm-4">
      <div class="card stat-tracker">
        <div class="card-body">
          <h5 class="card-title">STAT-TRACKER</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Front-end</li>
          <li class="list-group-item">REACT.js</li>
          <li class="list-group-item">3rd Party API Integration</li>
        </ul>
        <!-- Button trigger modal -->
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Details
          </button>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  STAT-TRACKER <i class="fas fa-gamepad"></i>
                </h5>
                <button
                  type="button"
                  class="btn-close-white"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="media">
                  <img src="./images/tracker-app.gif" alt="tracker-app demo" />
                  <p>
                    Video Demo (few examples of the functionality available)
                  </p>
                </div>
                <div class="modal-para">
                  <h1>Function & Usage</h1>
                  <p>
                    This is a <b>front-end REACT.js</b> based web project.
                    Stat-Tracker is a website that can track your video game
                    stats using an API provided by "tracker.gg". You need to
                    provide your <b>username and platform</b> and the website
                    will search for the query and provide you with all the stats
                    available.
                    <br />
                    <br />
                    This website can be used by the millions of gamers who play
                    these games to track their stats and see what they can do to
                    be better. They can figure out the places they are strong in
                    and the places they are weak and train accordingly to
                    improve their gameplay.
                  </p>
                  <h1>Features</h1>
                  <p>
                    Stat-Tracker is a fully <b>responsive website</b> and it
                    scales well with mobile view as well. This website is made
                    with <b>scalability</b> in mind. It is easily scalable with
                    new data inputted in the already existing games and new
                    games added within the <b>API</b>. This website uses
                    <b>REACT Hooks</b> including
                    <b>useState, useEffect, global context, etc.</b>, along with
                    <b>React-DOM & CORS.</b> It also uses
                    <b>Bootstrap</b> components.
                  </p>
                  <h1>History and Implementation</h1>
                  <p>
                    Stat-Tracker is my <b>first web-application</b> after my
                    portfolio. I made this website in a week. In the beginning
                    it was really hard to progress with this website as I spent
                    a lot of time thinking about the
                    <b>design and the look of the brand.</b> Another major
                    problem was that the
                    <b
                      >API which I have used does not have a lot of
                      documentation.</b
                    >
                    I got stuck on a lot of
                    <b>CORS and proxy related issues</b> and it took me a few
                    days just to properly get the implementation of the API. In
                    this project I encountered a lot of difficulties for the
                    first time but I managed to overcome them and provide a
                    beautifully designed user-experience.
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO -->
    <div class="skill-card col-sm-4">
      <div class="card portfolio">
        <div class="card-body">
          <h5 class="card-title">Portfolio</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">HTML, CSS</li>
          <li class="list-group-item">Node.js w/ Express</li>
          <li class="list-group-item">EJS Templates</li>
          <li class="list-group-item">Bootstrap</li>
          <li class="list-group-item">Mailchimp API</li>
        </ul>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal1"
          >
            <a target="_blank" href="#">GitHub Repo</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p id="projects-info">
    Currently working on some projects, will update ASAP!
  </p>
</div>
