<!-- Skills -->
<div id="skills">
  <div class="skill-banner">
    <h2>Skills</h2>
    <p>Programming Languages & Skills</p>
  </div>

  <div class="row">
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/html5.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">HTML 5</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Front-end</li>
          <li class="list-group-item">Intermediate - Advanced</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/css3.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">CSS 3</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Front-end</li>
          <li class="list-group-item">Intermediate - Advanced</li>
          <li class="list-group-item">Bootstrap</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/javascript.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Javascript</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Front-end</li>
          <li class="list-group-item">Intermediate</li>
          <li class="list-group-item">DOM Manipulation</li>
          <li class="list-group-item">jQuery</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/express.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Express.js w/ Node.js</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Back-end</li>
          <li class="list-group-item">Intermediate</li>
          <li class="list-group-item">API Integration</li>
          <li class="list-group-item">EJS templates</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/mysql.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">MySQL</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Database</li>
          <li class="list-group-item">Beginner</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/mongodb.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">MongoDB</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Database</li>
          <li class="list-group-item">Intermediate</li>
          <li class="list-group-item">RESTful API</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/react.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">React</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Front-end</li>
          <li class="list-group-item">Intermediate-Advanced</li>
          <li class="list-group-item">Authentication</li>
          <li class="list-group-item">Redux</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/cplus.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">C / C++</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Intermediate</li>
          <li class="list-group-item">Image Processing</li>
        </ul>
      </div>
    </div>
    <div class="skill-card col-lg-2 col-md-3 col-sm-4">
      <div class="card">
        <img src="./images/python.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Python</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Back-end</li>
          <li class="list-group-item">Intermediate</li>
          <li class="list-group-item">Machine Learning</li>
          <li class="list-group-item">Data Management</li>
        </ul>
      </div>
    </div>
  </div>
</div>
