<!-- Title -->
<div class="container-fluid" id="title">
  <h1>Kunal Paul</h1>
  <p>Software Engineer | Web Developer</p>

  <a role="button" class="btn btn-lg btn-outline-light" href="#projects"
    >Projects</a
  >
</div>
